<a href="https://colab.research.google.com/github/PBarley/cyp_2021/blob/main/Tarea_4_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#EJEMPLO 2.4. PÁG.60

sueldo=0
nuevo_sue=0
aumen=0

nom= input("Ingrese el nombre del trabajador: ")
sueldo= float (input("Introduce el sueldo del trabajor"))

if (sueldo < 1000):
  aumen= sueldo * 0.15
  nuevo_sue= sueldo + aumen
  print("El nuevo sueldo del trabajador ", nom, " es: $", nuevo_sue)
else:
  aumen= sueldo * 0.12
  nuevo_sue= sueldo + aumen
  print("El nuevo sueldo del trabajador ", nom, " es: $", nuevo_sue)

Ingrese el nombre del trabajador: Luis
Introduce el sueldo del trabajor680.70
El nuevo sueldo del trabajador  Luis  es: $ 782.8050000000001

In [10]:
#EJEMPLO 2.8. PÁG.68
cate=0
sueldo=0
nuevo_sue=0

nom= input("Ingrese el nombre del trabajador: ")
cate= int (input("Ingrese la categoria del trabajador (1,2,3 o 4): "))
sueldo= float (input("Ingrese el sueldo del trabajadior: "))

if (cate == 1):
  nuevo_sue= (sueldo * 0.15) + sueldo
  print("El trabajador ", nom, " pertenece a la categoría ", cate, " y su nuevo sueldo es: $", nuevo_sue)
elif (cate == 2):
  nuevo_sue= (sueldo * 0.10) + sueldo
  print("El trabajador ", nom, " pertenece a la categoría ", cate, " y su nuevo sueldo es: $", nuevo_sue)
elif (cate == 3):
  nuevo_sue= (sueldo * 0.08) + sueldo
  print("El trabajador ", nom, " pertenece a la categoría ", cate, " y su nuevo sueldo es: $", nuevo_sue)
elif (cate == 4):
  nuevo_sue= (sueldo * 0.07) + sueldo
  print("El trabajador ", nom, " pertenece a la categoría ", cate, " y su nuevo sueldo es: $", nuevo_sue)
else:
  print(cate, " no forma parte de las posibles categorías")

Ingrese el nombre del trabajador: Fernando
Ingrese la categoria del trabajador (1,2,3 o 4): 2
Ingrese el sueldo del trabajadior: 1750
El trabajador  Fernando  pertenece a la categoría  2  y su nuevo sueldo es: $ 1925.0